@import url("./styles/cabecalho.css");
@import url("./styles/sobre.css");
@import url("./styles/metricas.css");
@import url("./styles/top-vagas.css");
@import url("./styles/vagas.css");
@import url("./styles/depoimento.css");
@import url("./styles/rodape.css");

:root {
    --cor-logo: #3A404E;
    --cor-texto: #667085;
    --cor-texto-botao: #FFFFFF;
    --cor-vermelho: #8E2424;
    --cor-sombra-botao: rgba(16, 24, 40, 0.05);
    --cor-titulo: #101828;
    --cor-box-span: rgba(142, 36, 36, 0.05);
    --cor-borda-box: #EAECF0;
    --cor-box-secao: rgba(195, 25, 25, 0.03);
    --cor-rodape: #F9FAFB;
    --cor-borda-email: #D0D5DD;
    --cor-sombra-email: rgba(16, 24, 40, 0.05);
    --cor-texto-copyright: #98A2B3;
  
    --fonte: "Inter";
}

body {
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-texto);
    background-color: var(--cor-texto-botao);
    line-height: 1.5rem;
}

.conteudo {
    margin: 0 7%;
}