.rodape {
    background-color: var(--cor-rodape);
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.rodape__conteudo {
    text-align: center;
    margin-bottom: 40px;
}

.rodape__conteudo__titulo {
    color: var(--cor-titulo);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: 20px;
}

.rodape__conteudo__texto {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.rodape__registro {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    align-items: center;
    width: 25%;
}

.rodape__registro__input {
    background-color: var(--cor-texto-botao);
    padding: 12px 14px 12px 16px;
    border: 1px solid var(--cor-borda-email);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 var(--cor-sombra-email);
    width: 80%;
    width: 100%;
}

.rodape__registro__botao {
    color: var(--cor-texto-botao);
    font-weight: 500;
    background-color: var(--cor-vermelho);
    padding: 12px 20px;
    border: 1px solid var(--cor-vermelho);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 var(--cor-sombra-email);
}

.rodape__copyright {
    color: var(--cor-texto-copyright);
}
